@media(max-width: 767px) {}

@media(max-width: 790px) {}

@media(max-width: 440px) {}


/* LG Device :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
    .mainmenu li a {
        padding: 11px 15px;
    }
}


/* MD Device :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .mainmenu {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .col-md-3 {
        margin-bottom: 30px;
    }
}


/* Extra small Device. */

@media (max-width: 767px) {
    .mainmenu {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .mobile-menu {
        margin-top: -54px;
    }
}


/* SM Small Device :550px. */

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .mainmenu {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .mobile-menu {
        margin-top: -54px;
    }
}